{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <title>Mowdie</title>
</head>
<body>
<header>
    <h1><a href="{% url 'index' %}">Mowdie</a></h1>
    {% if user.is_authenticated %}
        Hi, {{ user }} |
        <a href="{% url "add_update" %}">Post a new update</a> |
        <a href="{% url "followed_updates" %}">Updates from people you follow</a>

    {% else %}
        <a href="{% url "login" %}">Login</a> |
        <a href="{% url "user_register" %}">Register</a>
    {% endif %}
    | <a href="{% url "most_favorited_updates" %}">Most favorited updates</a>
</header>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important:
                    {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% block content %}
{% endblock %}
<footer>
    <strong>Created in TIY Durham Python May 2015 class</strong>
</footer>
</body>
</html>