<p>{{ update.text }}</p>

<p>
    <a href="{% url 'show_user' update.user.id %}">{{ update.user }}</a>
    -
    <em>
        <a href="{% url 'show_update' update.id %}">{{ update.posted_at }}</a>
    </em>
    -
    {{ update.favorite_set.count }} favorites
    {% if user.is_authenticated %}
        -
        {% if user in update.favorited_users.all %}
            You have favorited this.
            <a href="{% url 'delete_favorite' update.id %}">X</a>
        {% else %}
            <a href="{% url 'add_favorite' update.id %}">Favorite this
                update</a>
        {% endif %}
    {% endif %}
</p>