{% extends "base.html" %}

{% block content %}
    <div>
        {% include "updates/_update.html" %}

        {% if update.favorite_set.count > 0 %}
            <h3>People who have favorited this update</h3>
            <ul>
                {% for favorite in update.favorite_set.all %}
                    <li>
                        <a href="{% url 'show_user' favorite.user.id %}">
                            {{ favorite.user }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
