{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    {% if failed %}
        <div>Incorrect username or password. Please try again.</div>
    {% endif %}
    <form method="POST" action="{% url "user_login" %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="{{ username }}" size="50"/>
        <br/>
        Password: <input type="password" name="password" value="" size="50"/>
        <br/>

        <input type="submit" value="Login" />
    </form>
{% endblock %}